<li>
  <a class="community-item" href="{% url 'community_detail' community.slug %}">
    {% if community.faculty %}
    <span class="community-badge">{{ community.faculty }}</span>
    {% elif community.category == "course" %}
    <span class="community-badge">授業・ゼミ</span>
    {% else %}
    <span class="community-badge">総合</span>
    {% endif %}
    <div class="community-item-top">
      <h3 class="community-item-name">{{ community.name }}</h3>
      {% if community.latest_activity_at %}
      <time class="community-item-time" datetime="{{ community.latest_activity_at|date:'c' }}">{{ community.latest_activity_at|timesince }}前</time>
      {% endif %}
    </div>
    {% if community.description %}
    <p class="community-item-desc">{{ community.description }}</p>
    {% endif %}
    {% if community.latest_thread_title %}
    <p class="community-item-thread">{{ community.latest_thread_title }}</p>
    {% endif %}
    {% if community.latest_thread_preview %}
    <p class="community-item-preview">{{ community.latest_thread_preview }}</p>
    {% endif %}
  </a>
</li>
